* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }

  body {
    background-color: #f4c531;
  }

  .wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6rem;
    box-shadow: 0.0.9em 2.8em rgb(86, 66, 0, 0.2);
  }

  .game_Container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
  }

  .stats_container {
    text-align: right;
    margin-bottom: 1.2em;
  }

  .stats_container span {
    font-weight: 600;
  }

  .card_container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
  }

  .card_before,
  .card_after {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    transform: translate(0.7s ease-out);
    backface-visibility: hidden;
    transition: transform 0.7s ease-out;
  }

  .card_before {
    background-color: #f4c531;
    font-size: 2.8em;
    font-weight: 600;
  }

  .card_after {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }

  .card_container.flipped .card_before {
    transform: rotateY(180deg);
  }

  .card_container.flipped .card_after {
    transform: rotateY(0deg);
  }

  .controls_Container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f4c531;
  }

  button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
  }

  #stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: black;
    color: white;
  }

  .controls_Container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgb(86, 66, 0, 0.2);
  }

  .hide {
    display: none;
  }

  #result {
    text-align: center;
    width: 500px;
    padding: 30px;
    margin-bottom: 50px;
  }

  #result h2 {
    font-size: 2.5em;
  }

  #result h4 {
    font-size: 1.8em;
    margin: 0.6em 0.1em 0;
  }

  img {
    width: 50px;
  }